@import "tailwindcss";

:root {
    box-sizing: border-box;
}

html, 
body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-zinc-800);
}

#root {
    height: 100%;
    width: 100%;
}