@import "tailwindcss";


@font-face {
    src: url("/font/Outfit-VariableFont_wght.ttf") format("truetype");
    font-family: "Outfit";
    font-weight:  100 900;
    font-style: normal;
}

:root {
    box-sizing: border-box;
}

html, 
body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-zinc-800);
    color: white;
    font-family: "Outfit";
}

#root {
    height: 100%;
    width: 100%;
}